#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
    background-color: #2b3f5c;
}
#logo_img
{
    width: 60px;
    height: 30px;
    border-radius:100;
}
#textbox
{
    width: 300px;
    background-color: #2b3f5c;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #a2c2d0;
}